.Movie_Details{
    width:100%;
    min-height:100vh;
    background-color: white;
    overflow: hidden;
}
.Movie_Details_img{
width: 100%;
height: 50vmin;
background-color: yellow;
}
.Movie_Details_Summary{
    width: 100%;
   min-height: 30vmin;
   background-color: black;
}
.Movie_Cast{
    width: 100%;
    height:15vmin;
    background-color: orange;
}
.Comment_Box {
    width: 100%;
    min-height: 50vmin; /* Ensures the parent div has a minimum height of 50vmin */
    background-color: yellow;
  }

  /* Child div that should take up the full height of the parent */
  .Comments {
    width: 100%;
    height: 50vmin; /* Makes the child div fill the full height of the parent */
    background-color: green;
  }
  .Comment_Heading{
    width: 100%;
    height: 30%;
    background-color: crimson;
    text-align: center;
    padding-top: 2%;
    font-size: 4vmin;
    font-family: "Bebas Neue", sans-serif;
    color:white;
  }
  .Comment_Section{
    width: 100%;
    height: 70%;
    background-color: aqua;
  }
#comment_Area{
    width:60%;
    height:20vmin;
    margin-top: 5%;
    margin-left: 5%;
    word-wrap: break-word;
    border-color: skyblue;
}
#comment_Area:focus{
    border-color: skyblue;
}
.commentline{
    width: 90%;
    min-height: 10vmin;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px groove skyblue;
    word-wrap: break-word;
}
.User_Info{
    width: 100%;
    height: 10%;
    /* padding-top: 1%;
    padding-left: 1%; */
    /* background-color: green; */
    display: flex;
}
.User_logo{
    width: 6%;
    height: 10vmin;
    /* background-color: aqua; */
}
.User_Name{
    width: 97%;
    height: 10vmin;
    padding-top: 2.2%;
    /* background-color: blue; */
}
.User_Comment{
    width: 100%;
    height: 65%;
    padding-top: 1.5%;
    /* background-color: red; */
    padding-left: 4%;
    padding-bottom: 1%;
}
#user_logo{
    width: 100%;
    height: 100%;
    color: white;
}
.comments-section{
    margin-left: 10%;
    padding-top: 3%;
}
#comment_linee{
    color:white;
}
span{
    color:white;
}